@using PostItDemo.Controllers;
@model PostItDemo.Models.PostIt
@{
    string date = $"{DateTime.Now.Year}/{DateTime.Now.Month}/{DateTime.Now.Day}";
    string handle = "Anon";
    if (null != User && Utils.UserHasHandle(User))
    {
        handle = Utils.GetUserHandle(User);
    }
}
<form asp-action="Index" class="single-post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" value="@handle" name="Handle"/>
    <input type="hidden" value="@Model.PostItId" name="MotherPostIt" />
    <div class="post-header">
        <div class="form-group">
        <label asp-for="Title" class="post-title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group post-body">
        <div class="form-group">
        <label asp-for="Body" class="post-title"></label>
        <input asp-for="Body" class="form-control" />
        <span asp-validation-for="Body" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group align-self-end">
        <input type="submit" value="Post" class="btn btn-primary" />
    </div>

    <div class="post-secondary">
        <p>@handle</p>
        <p>@date</p>
    </div>
</form>
