@using System.Security.Claims;
@using PostItDemo.Controllers;
@using System.Diagnostics;
@model IEnumerable<PostItDemo.Models.PostDTO>

@{
    ViewData["Title"] = "PostIts";
}

<h1>PostIts</h1>


<h2>What do you want to Post?</h2>

@if (Utils.UserHasHandle(User))
{
    <h3>Hello @Utils.GetUserHandle(User)!</h3>
}

<partial name="/Views/PostIts/_PostForm.cshtml" model="new PostIt()" />

<div class="main-posts">
    @foreach (var item in Model)
    {
        <partial name="/Views/PostIts/_PostIt.cshtml" model="item" />
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}