@using System.Security.Claims;
@using PostItDemo.Controllers;
@using System.Diagnostics;
@model IEnumerable<PostItDemo.Models.PostDTO>

@{
    ViewData["Title"] = "PostIts";

    string handle = "Anon";

    if (null != User && Utils.UserHasHandle(User))
    {
        handle = Utils.GetUserHandle(User);
    }
}

<div class="newpost-container z-top">
    <h1 class="display-2">@handle's postboard</h1>
    <h2 class="display-6">New Post</h2>
    <partial name="/Views/PostIts/_PostForm.cshtml" model="new PostIt()" />
</div>

<div class="main-posts-container">
    <div class="main-posts">
        @foreach (var item in Model)
        {
            <partial name="/Views/PostIts/_PostIt.cshtml" model="item" />
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}