@using PostItDemo.Controllers;
@model PostItDemo.Models.PostDTO

@{
    ViewData["Title"] = @Model.Title;

    var handle = "Anon";
    if (Utils.UserHasHandle(User))  handle = Utils.GetUserHandle(User);

    var title = $"{Model.Handle}'s Post";
    var subtitle = $"What do you want to say about this Post, {handle}?";

    var replyPostDTO = new PostDTO();
    replyPostDTO.MotherPostIt = Model.PostItId;
}


<div class="newpost-container z-top">
    <h1 class="display-4">@title</h1>
    <partial name="/Views/PostIts/_PostIt.cshtml" model="Model" />
    <h2 class="display-6">@subtitle</h2>
    <partial name="/Views/PostIts/_PostForm.cshtml" model="@replyPostDTO" />
</div>

<div class="main-posts-container">
<h3 class="display-6">Comments</h3>
    <div class="main-posts">
        @foreach (var item in Model.ChildPosts)
        {
            <partial name="/Views/PostIts/_PostIt.cshtml" model="item" />
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}