@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Post It!</h1>

    <form>
        <p>USERNAME</p>
        <p>PASSWORD</p>
    </form>

    <a asp-controller="PostIts" asp-action="Index">View PostIts</a>
</div>
